/* Welcome to the CSS Pseudo-class tutorial */
/* We will be taking a look at some basic pseudo-classes and what they do. */

/*
   Pseudo-class is usually used to define a special state of an element.
   This component is useful to add more feedback to the user when interacting with the web page's elements.
   A good example would be how a button reacts to when a mouse is hovered over it.

   The syntax of Psudo-class looks like this:

   selector:pseudo-class {
      declaration: value;
   }
 */

/*
   In this lesson, we will be looking at 2 pseudo-classes, Hover and Active.
   This can be used to showcase a difference between visited and unvisited links.
 */


/* In HOVER, you can change the element's behaviour when you hover your mouse onto it. */
a.highlight:hover {
  color: orange;
}

/* In ACTIVE, you can change the element's behaviour when you click it. */
a.highlight:active {
  color: green;
}
